* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../public/hzd-background.jpg");
	background-size: cover;
}

.nav {
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	padding: 0 1rem;
	height: 4rem;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 1rem;
	margin-top: 1rem;
	border-radius: 1rem;
}

.game-name {
	text-decoration: none;
}

.LoginPage {
	justify-content: center;
	align-items: center;
}

.page-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.page-button span {
	color: white;
	margin: 0 10px 0 10px;
}
